@model IEnumerable<Food_Truck.Models.Menu_Item>

@{
    ViewBag.Title = "Menu";
}



<style>
    body {
        background-image: url("plaid.png");
        background-repeat: repeat;
    }
</style>



<div id="menu" class="container bg-overlay">
    <div class="row text-center">
        <h1>Menu</h1>
        <br>
        <h4>
            You think you had the "<strong>best</strong>" burger before?<br>
            Try again sucka!!
        </h4>
        <br><br>
    </div>
</div>



<div id="products" class="row list-group">
        @foreach (var item in Model)
    {
        <div id="@Html.DisplayFor(modelItem => item.Food_Item.ID)" class="item add-on col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="~/Content/Pictures/Food/classic.jpg" alt="" />
                <div class="caption">
                    <h4 id="@Html.DisplayFor(modelItem => item.Food_Item.ID)+menuItemTitle" class="group inner list-group-item-heading menuItemTitle">@Html.DisplayFor(modelItem => item.Food_Item.Name)</h4>
                    <p id="menuItemDescription" class="group inner list-group-item-text">@Html.DisplayFor(modelItem => item.Food_Item.Description)</p>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <p class="lead" id="@Html.DisplayFor(modelItem => item.Food_Item.ID)+itemPrice">$@Html.DisplayFor(modelItem => item.Food_Item.Sale_Price)</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <a class="btn btn-success" id="order">Add to Order</a>
                        </div>
                        <div class="col-md-4">
                            <div class="input-append spinner " data-trigger="spinner">
                                <div class="col-md-8">
                                    <input type="text" placeholder="1" data-rule="quantity" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <a href="javascript:;" class="spin-up" data-spin="up">
                                        <span class="glyphicon glyphicon-chevron-up spinner"></span>
                                    </a>
                                    <a href="javascript:;" class="spin-down" data-spin="down">
                                        <span class="glyphicon glyphicon-chevron-down spinner"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="cartWidget">
    <div class="row" style="color: white; font-size: 28px;">
        <center>Your Order</center>
    </div>
    <div>
        <br />
        <center id="itemsAdded"></center>
    </div>
</div>
<div class="container" id="addItem">

</div>


<!--
            <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Nachos</h4>
                    <p class="group inner list-group-item-text">
                        For a limited time only!!!!!!1 Menu item expires in two months.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $2.00</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-append spinner" data-trigger="spinner">
                                                                    <input type="text" value="1" data-rule="quantity" class="form-control">

                                                                    <div class="add-on">
                                                                         <a href="javascript:;" class="spin-up" data-spin="up">
                                                                            <span class="glyphicon glyphicon-chevron-up spinner"></span>
                                                                         </a>
                                                                         <a href="javascript:;" class="spin-down" data-spin="down">
                                                                            <span class="glyphicon glyphicon-chevron-down spinner"></span>
                                                                         </a>
                                                                     </div>
                                                                    </div>
                                                                </div>
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to Order</a>
                        </div>
                    </div>
                </div>
            </div>


 -->
