@model IEnumerable<Food_Truck.Models.Menu_Item>

@{
    ViewBag.Title = "Owner";
}

<h2>Owner</h2>
<p>@Html.ActionLink("Add Items to Menu", "Create", "Menu_Item")</p>
<p>@Html.ActionLink("View Menu", "Owner", "Menu")</p>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4 ">
            <h3>Menus</h3>
            <p>
                @Html.ActionLink("Create New", "Create", "Menu")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu.Name)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Menu", new { id = item.ID}, null) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", "Menu", new { id = item.ID }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-sm-offset-1 col-sm-4">
            <h3>Menu Items</h3>
            <p>
                @Html.ActionLink("Create New", "Create", "Food_Item")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Food_Item.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Food_Item.Sale_Price)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Food_Item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Food_Item.Sale_Price)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Food_Item", new { id = item.ID }, null) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", "Food_Item", new { id = item.ID }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
