@model IEnumerable<Food_Truck.Models.Order>

@{
    ViewBag.Title = "Index";
}

<div id="orders" class="container bg-overlay">
    <div class="row text-center">
        <h1>Order</h1>
        <br>
        <h4>
            You can either check out or start a new order.<br>
            Either way, we <strong>will</strong> get your money!
        </h4>
        <br><br>
    </div>
</div>

<div class="container">
    <h4 align="center">Current Order</h4>
    <p>
        @Html.ActionLink("Create an Order", "Index", "Menu")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>
<div class="container" id="currentOrder">

</div>
<div class="container" id="payments">

</div>
